# Allow access to files in storage
<IfModule mod_rewrite.c>
    RewriteEngine Off
</IfModule>

# Allow access to all files
Options +Indexes
<IfModule mod_authz_core.c>
    Require all granted
</IfModule>


